body, h1, h2, h3, h4, h5, h6, p, li, a {
    font-family: "Times New Roman", Times, serif !important;
}

/* Permanently hide the footer */
footer {
    display: none !important;
}

/* Hide header and footer during printing */
@media print {
    .gh-header, /* Example for GitHub-specific headers */
    footer {
        display: none !important;
    }
}
